.home-container {
  width: 38%;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.home-text {
  font-size: 1.5em;
  color: #BBDEFB;
  width: 100%;
  margin-top: 5%;
  font-family: 'Josefin Sans', sans-serif;
}

.home-margin {
  margin-top: -6.5%;
}

.home-button {
  margin-top: 15%;
}

.material-icons {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  font-size: 5.5em;
  color: #1A1A1D;
  background-color:white;
}

@media (min-width: 320px) and (max-width: 480px) {
  .home-container {
    width: 60%;
  }
  .home-head {
    font-size: 1.2em;
  }
  .home-text {
    font-size: 0.5em;
  }
  .material-icons {
    font-size: 4em;
  }
} 